p {
    color: #2E5757;
    background: #F0DFEE;
    font-weight: bolder;
    text-align: right;
}

.table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
}

.table thead tr {
    background-color: #009879;
    color: #fff;
    text-align: left;
    font-weight: bold;
}

.table th, .table td {
    padding: 7px 5px;
}

.table tbody tr {
    border-bottom: 1px solid #dddddd;
}