body {
    background-color: #34568B;
    height: 100vh;
}
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-center {
    background-color: white;
    font-family: "Pattaya";
    font-size: large;
    margin: 10%;
    padding: 10%;
    color: black;
    width: 100%;
    height: 50%;
    border: 1px dotted red;
}